/autom4te.cache/
/config/
nbproject
nbproject/private
Makefile
Makefile.in
aclocal.m4
app.info
compile
config.h
config.h.in
config.log
configure
config.status
configure.scan
coverage_report
depcomp
install-sh
libtool
m4
missing
stamp-h1
template.conf
*~
*.html
*.log
*.o
*.la
*.so*
*.a
.deps
*.tar*
*.zip
*.lo
*.gcno
*.gcda
src/bin/pi2mqtt


