# interval in seconds to sample temperature
delay = 5
# client ID for the mqtt sensor controller (usually the microcontroller id such as the PI)
clientid = "pi1"
# mqtt broker address
mqttbrokeraddress = "192.168.0.50"
# topic for the sensor controller's management port.  This will be monitored to provide management messages back to the controller.
mqttsubtopic = "home/+/manage"
# specific sensor data that is connected to the controller  device type and title.
ds18b20 tempdevice1 {
 address = "/sys/bus/w1/devices/28-041673a2d1ff"
 mqttpubtopic = "home/28-041673a2d1ff/temp"
 isfahrenheit = 1
}
ds18b20 tempdevice2 {
 address = "/sys/bus/w1/devices/28-041673d856ff"
 mqttpubtopic = "home/28-041673d856ff/temp"
 isfahrenheit = 1
}
#RAVEn raven1 {
# address = "/dev/ttyUSB0"
# mqttpubtopic = "home/raven1/demand"
#}
debuglogfile = "./temp2mqtt.log"
debugmode = 1
