# interval in seconds to sample temperature
delay = 5
# 
isfahrenheit = 0
# client ID for the mqtt sensor controller (usually the microcontroller id such as the PI)
clientid = "pi1"
# mqtt broker address
mqttbrokeraddress = "localhost"
# topic for the sensor controller's management port.  This will be monitored to provide management messages back to the controller.
mqttsubtopic = "home/+/manage"
# specific sensor data that is connected to the controller  device type and title.
raven tempdevice1 {
 address = "/dev/ttyUSB0"
 mqttpubtopic = "home/28-041673d856ff/demand"
}
